<?xml version="1.0" encoding="UTF-8"?>

<!-- see: http://logback.qos.ch/manual/layouts.html -->
<!-- see: https://efficio.atlassian.net/svn/GCP/tags/july-6-2012/IBPMiddleware/src/main/resources/logback.xml -->

<configuration scan="true" scanPeriod="10 seconds">

    <!-- appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd-HH:mm:ss.SSS} [%-5level] [%thread] [%logger{0}:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="accessFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/access-${HOSTNAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logfileRotationPath}/${HOSTNAME}.access-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd-HH:mm:ss.SSS} [%thread] [${HOSTNAME}] %msg%n</pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>

    <appender name="domainFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/rotate/${HOSTNAME}.api-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd-HH:mm:ss.SSS} [%-5level] [%thread] [%logger{0}:%line] - %msg%n</pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>

    <!-- frameworks -->
    <logger name="org.apache.zookeeper.ClientCnxn" level="WARN"/>

    <!-- all clients -->
    <logger name="io.urmia" level="DEBUG">
        <appender-ref ref="domainFile" />
    </logger>

    <!-- access log -->
    <logger name="access" level="DEBUG" additivity="false">
        <appender-ref ref="accessFile" />
    </logger>

    <!-- root appender -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>