[Unit]
Description=Urmia Storage Service
After=network.target

[Service]
User=urmia
Group=urmia
WorkingDirectory=/opt/urmia/srv-obj-store/bin
PIDFile=/var/run/urmia/srv-obj-store.pid
ExecStart=/opt/urmia/srv-obj-store/bin/start-ods.sh
ExecStop=/opt/urmia/srv-obj-store/bin/stop-ods.sh
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=urmia-obj-store.service