<?xml version="1.0" encoding="UTF-8"?>

<!-- see: http://logback.qos.ch/manual/layouts.html -->
<!-- see: https://efficio.atlassian.net/svn/GCP/tags/july-6-2012/IBPMiddleware/src/main/resources/logback.xml -->

<configuration scan="true" scanPeriod="10 seconds">

    <!-- appender -->
    <appender name="accessFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/urmia/storage-access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/urmia/archive/storage-access-${HOSTNAME}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd-HH:mm:ss.SSS} [%thread] [${HOSTNAME}] %msg%n</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <appender name="rootFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/urmia/storage-root.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/urmia/archive/storage-root-${HOSTNAME}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd-HH:mm:ss.SSS} [%-5level] [%thread] [${HOSTNAME}] [%logger{0}:%line] - %msg%n</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <!-- frameworks -->
    <logger name="org.apache.zookeeper" level="INFO"/>

    <!-- access log -->
    <logger name="access" level="DEBUG" additivity="false">
        <appender-ref ref="accessFile" />
    </logger>

    <!-- root appender -->
    <root level="DEBUG">
        <appender-ref ref="rootFile" />
    </root>

</configuration>